// Here you can add other styles
.table-responsive {
  min-height: 450px!important;
}

.order-daterange .react-daterange-picker__wrapper {
  border: 1px solid #d8dbe0;
  border-radius: 4px;
  font-size: 0.765625rem!important;
  font-weight: 400;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
